name: Pre-commit Checks

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install apt dependencies
        run: |
          sudo apt install shellcheck
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Install pre-commit
        run: |
          pipx install pre-commit
      - name: Create virtual environment
        run: |
          uv sync --all-packages
      - name: Run pre-commit
        run: pre-commit run --all-files
